body {
  background-color: #e0f7fa;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  color: #004d40;
}

a {
  color: #00796b;
  text-decoration: none;
}

.weather-app {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  border: 5px solid #80deea;
}

header {
  border-bottom: 5px solid #80deea;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: radial-gradient(circle, #b2dfdb, #ffffff);
}

header:hover {
  background: radial-gradient(circle, #ffffff, #b2dfdb);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 15px;
  color: #004d40;
  letter-spacing: 1px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form-input {
  background-color: #e0f7fa;
  border: 1px solid #80deea;
  border-radius: 8px;
  width: 60%;
  font-size: 16px;
  padding: 10px 15px;
  transition: border-color 0.3s ease;
}

.search-form-button {
  background-color: #80deea;
  color: #004d40;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form-button:hover {
  background-color: #4db6ac;
  transform: scale(1.05);
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.weather-details {
  text-align: left;
  color: #004d40;
}

.weather-details h2 {
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 10px;
}

.weather-details p {
  font-size: 16px;
}

.weather-app-city {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
}

.weather-app-details {
  font-size: 25px;
  line-height: 26px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f7851a;
  font-weight: bold;
  padding: 4px 8px;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.weather-app-details strong:hover {
  color: #004d40;
  font-size: 32px;
  font-weight: bold;
}

.weather-icon-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.weather-icon {
  font-size: 44px;
  color: #004d40;
}

.temperature {
  font-size: 88px;
  font-weight: 600;
  color: #004d40;
  margin-right: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.temp-container {
  display: flex;
  align-items: center;
}

.unit {
  font-size: 28px;
  color: #004d40;
  line-height: 1;
  margin-bottom: 47px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #80deea;
  margin-top: 30px;
  padding-top: 10px;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #004d40;
  flex: 1;
  margin: 0 10px;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 500;
  color: #004d40;
  margin-bottom: 5px;
}

.weather-forecast-icon {
  font-size: 32px;
  color: #004d40;
  margin-bottom: 5px;
}

.weather-forecast-temperatures {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  font-size: 20;
  color: #004d40;
  margin: 0 5px;
}

.weather-forecast-temperature strong {
  color: #f7851a;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #e0f7fa;
  padding: 20px 0;
  color: #004d40;
}

footer p a {
  color: #00796b;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: wavy;
  color: orange;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
